@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Roboto:wght@300;400;700&family=Rock+Salt&family=Shizuru&family=Trocchi&family=Yellowtail&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&family=Roboto:wght@300;400;700&family=Rock+Salt&family=Shizuru&family=Trocchi&family=Yellowtail&display=swap'); */

h1{
    font-size: 75px;
}

h2{
    font-size: 75px;
}
p{
    font-size: 23px;
}
h3{
    font-size: 65px;
}
#title3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#foot{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#foot p {
    font-size: 50px;
}